In [ ]:
# Begin by installing the packages that we need got 
import numpy as np
import pandas as pd

In [ ]:
# Download World Bank API Packages
!pip install world-bank-data
import world_bank_data as wb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting world-bank-data
  Downloading world_bank_data-0.1.3.tar.gz (12 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (2.25.1)
Requirement already satisfied: cachetools in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (5.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (1.21.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->world-bank-data) (1.15.0)
Building wheels for collected packages: world-bank-data
  Building wheel for world-bank-data (setup.py) ... done
  Created wheel for world-bank-data: filename=world_bank_data-0.1.3-py3-none-any.whl size=11110 sha256=3cf477bad00e86a012ec2573fdba39282f190955fb2d97feb0a9c203af6c36cd
  Stored in directory: /root/.cache/pip/wheels/fe/17/0c/9ef630351acc5856f4a1814d96bc082eccf1cbbb779fcd1a98
Successfully built world-bank-data
Installing collected packages: world-bank-data
Successfully installed world-bank-data-0.1.3

In [ ]:
# Select the Data that we want

urbanpop = pd.DataFrame(wb.get_series('SP.URB.TOTL.IN.ZS'))

In [ ]:
urbanpop.to_csv('urbanpop.csv')

In [ ]:
urbanpop

                                                                           SP.URB.TOTL.IN.ZS
Country                     Series                                   Year
Africa Eastern and Southern Urban population (% of total population) 1960          14.563810
                                                                     1961          14.811410
                                                                     1962          15.069249
                                                                     1963          15.347976
                                                                     1964          15.640195
...                                                                                      ...
Zimbabwe                    Urban population (% of total population) 2017          32.237000
                                                                     2018          32.209000
                                                                     2019          32.210000
                                                                     2020          32.242000
                                                                     2021          32.303000

[16492 rows x 1 columns]

In [ ]:
# Sort and filter the urban population data to what we want to display

urbanpop = pd.read_csv('urbanpop.csv')
urbanpop = urbanpop.drop('Series', axis=1)
urbanpop = urbanpop.loc[urbanpop['Country'].isin(['Arab World', 'Euro area', 'Latin America & Caribbean','North America','South Asia','Sub-sarahan Africa'])]
urbanpop = urbanpop.dropna()
urbanpop = urbanpop.sort_values(by=['Country', 'Year'])
urbanpop = urbanpop.set_index('Country')
urbanpop.columns = ["Year", "Urban population"]

urbanpop

            Year  Urban population
Country
Arab World  1960         31.022162
Arab World  1961         31.754677
Arab World  1962         32.494832
Arab World  1963         33.261493
Arab World  1964         34.053793
...          ...               ...
South Asia  2017         33.579138
South Asia  2018         34.005899
South Asia  2019         34.444634
South Asia  2020         34.893206
South Asia  2021         35.351925

[310 rows x 2 columns]

In [ ]:
urbanpop.to_csv('urbanpop_byarea.csv')