In [ ]:
# Install packages we need
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [ ]:
# First download our UGS data from our csv file 
data= pd.read_csv('UGSdata.csv')
data

                 Country   UGS
0                Finland  5.73
1                Iceland  5.47
2              Lithuania  5.46
3            New Zealand  5.33
4               Slovenia  5.32
5                Croatia  5.23
6             Montenegro  5.21
7                  Italy  5.17
8               Slovakia  5.16
9                Estonia  5.15
10         United States  5.13
11                Latvia  5.05
12                Sweden  5.00
13           Switzerland  4.98
14               Norway   4.97
15                Canada  4.96
16                Serbia  4.93
17                Poland  4.88
18               Germany  4.79
19               Hungary  4.78
20        Czech Republic  4.75
21              Portugal  4.72
22              Bulgaria  4.70
23             Australia  4.69
24           Netherlands  4.52
25             Luxenburg  4.49
26               Ireland  4.36
27        United Kingdom  4.28
28   Trinidad and Tobago  4.25
29               Uraguay  4.16
30                 Spain  4.15
31                Russia  4.12
32               Belarus  4.12
33               Austria  4.11
34                Panama  4.06
35            Kazakhstan  4.06
36               Albania  4.06
37             Mauritius  3.94
38            Costa Rica  3.93
39               Belgium  3.91
40               Denmark  3.89
41               Romania  3.87
42                France  3.72
43              Malaysia  3.64
44             Argentina  3.33
45                Turkey  3.28
46                Greece  3.28
47                 Malta  3.17
48                 Chile  3.05
49                 Japan  3.03
50                  Iran  2.90
51             Singapore  2.87
52           South Korea  2.70
53                Israel  2.65
54  United Arab Emirates  2.23
55          Saudi Arabia  2.06
56                  Oman  2.05
57                Kuwait  1.91
58                 Qatar  1.23
59               Bahrain  0.54

In [ ]:
# Download data from the World Bank on GDP per capita using API 

!pip install world-bank-data
import world_bank_data as wb

gdpcapita= pd.DataFrame(wb.get_series('NY.GDP.PCAP.CD'))

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: world-bank-data in /usr/local/lib/python3.8/dist-packages (0.1.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (2.25.1)
Requirement already satisfied: cachetools in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (5.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (2.8.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->world-bank-data) (1.15.0)

In [ ]:
# Edit the data

gdpcapita.to_csv('gdpcapita.csv')
gdpcapita = pd.read_csv('gdpcapita.csv')
gdpcapita = gdpcapita.drop('Series', axis=1)
gdpcapita = gdpcapita[gdpcapita.Year > 2010]
gdpcapita = gdpcapita.dropna()
gdpcapita = gdpcapita.sort_values(by=['Country', 'Year'])
gdpcapita = gdpcapita.drop_duplicates(subset=['Country'], keep='last')
gdpcapita = gdpcapita.set_index('Country')
gdpcapita.columns = ["Year", "GDP per Capita"]
gdpcapita= gdpcapita.drop('Year', axis=1)

In [ ]:
# Merge this data 

datamerge1 = pd.merge(data, gdpcapita, how='left', on='Country')

In [ ]:
datamerge1

                 Country   UGS  GDP per Capita
0                Finland  5.73    53654.750296
1                Iceland  5.47    68727.636665
2              Lithuania  5.46    23723.340251
3            New Zealand  5.33    48781.026633
4               Slovenia  5.32    29291.400623
5                Croatia  5.23    17685.325283
6             Montenegro  5.21     9465.703999
7                  Italy  5.17    35657.497563
8               Slovakia  5.16             NaN
9                Estonia  5.15    27943.701220
10         United States  5.13    70248.629000
11                Latvia  5.05    21148.162941
12                Sweden  5.00    61028.738060
13           Switzerland  4.98    91991.600458
14               Norway   4.97             NaN
15                Canada  4.96    51987.939053
16                Serbia  4.93     9230.178316
17                Poland  4.88    17999.909950
18               Germany  4.79    51203.554473
19               Hungary  4.78    18728.121895
20        Czech Republic  4.75             NaN
21              Portugal  4.72    24567.509265
22              Bulgaria  4.70    12221.496606
23             Australia  4.69    60443.109165
24           Netherlands  4.52    57767.878811
25             Luxenburg  4.49             NaN
26               Ireland  4.36   100172.079253
27        United Kingdom  4.28    46510.282782
28   Trinidad and Tobago  4.25    16032.502768
29               Uraguay  4.16             NaN
30                 Spain  4.15    30103.513733
31                Russia  4.12             NaN
32               Belarus  4.12     7302.257794
33               Austria  4.11    53637.705711
34                Panama  4.06    14617.604482
35            Kazakhstan  4.06    10373.789792
36               Albania  4.06     6492.872012
37             Mauritius  3.94     9106.237202
38            Costa Rica  3.93    12472.443729
39               Belgium  3.91    51247.014353
40               Denmark  3.89    68007.756673
41               Romania  3.87    14858.229429
42                France  3.72    43658.978978
43              Malaysia  3.64    11109.261839
44             Argentina  3.33    10636.120196
45                Turkey  3.28             NaN
46                Greece  3.28    20192.596304
47                 Malta  3.17    33486.671984
48                 Chile  3.05    16265.095977
49                 Japan  3.03    39312.660373
50                  Iran  2.90             NaN
51             Singapore  2.87    72794.003023
52           South Korea  2.70             NaN
53                Israel  2.65    52170.711862
54  United Arab Emirates  2.23    44315.554183
55          Saudi Arabia  2.06    23185.870792
56                  Oman  2.05    19509.466463
57                Kuwait  1.91    24300.329436
58                 Qatar  1.23    66838.357433
59               Bahrain  0.54    26562.969135

In [ ]:
# Now Scrape the happiness score 

wiki_list=pd.read_html('https://en.wikipedia.org/wiki/World_Happiness_Report')
len(wiki_list)

23

In [ ]:
table=wiki_list[12]
table

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.809,1.285,1.500,0.961,0.662,0.160,0.478
1,2,Denmark,7.646,1.327,1.503,0.979,0.665,0.243,0.495
2,3,Switzerland,7.560,1.391,1.472,1.041,0.629,0.269,0.408
3,4,Iceland,7.504,1.327,1.548,1.001,0.662,0.362,0.145
4,5,Norway,7.488,1.424,1.495,1.008,0.670,0.288,0.434
...,...,...,...,...,...,...,...,...,...
148,149,Central African Republic,3.476,0.041,0.000,0.000,0.293,0.254,0.028
149,150,Rwanda,3.312,0.343,0.523,0.572,0.604,0.236,0.486
150,151,Zimbabwe,3.299,0.426,1.048,0.375,0.377,0.151,0.081
151,152,South Sudan,2.817,0.289,0.553,0.209,0.066,0.210,0.111
152,153,Afghanistan,2.567,0.301,0.356,0.266,0.000,0.135,0.001

In [ ]:
table=table[['Country or region','Score']]
table.columns = ["Country", "Score"]
table

                      Country  Score
0                     Finland  7.809
1                     Denmark  7.646
2                 Switzerland  7.560
3                     Iceland  7.504
4                      Norway  7.488
..                        ...    ...
148  Central African Republic  3.476
149                    Rwanda  3.312
150                  Zimbabwe  3.299
151               South Sudan  2.817
152               Afghanistan  2.567

[153 rows x 2 columns]

In [ ]:
# Now merge this into data

datamerge2 = pd.merge(datamerge1, table, how='left', on='Country')
datamerge2

                 Country   UGS  GDP per Capita  Score
0                Finland  5.73    53654.750296  7.809
1                Iceland  5.47    68727.636665  7.504
2              Lithuania  5.46    23723.340251  6.215
3            New Zealand  5.33    48781.026633  7.300
4               Slovenia  5.32    29291.400623  6.363
5                Croatia  5.23    17685.325283  5.505
6             Montenegro  5.21     9465.703999  5.546
7                  Italy  5.17    35657.497563  6.387
8               Slovakia  5.16             NaN  6.281
9                Estonia  5.15    27943.701220  6.022
10         United States  5.13    70248.629000  6.940
11                Latvia  5.05    21148.162941  5.950
12                Sweden  5.00    61028.738060  7.353
13           Switzerland  4.98    91991.600458  7.560
14               Norway   4.97             NaN    NaN
15                Canada  4.96    51987.939053  7.232
16                Serbia  4.93     9230.178316  5.778
17                Poland  4.88    17999.909950  6.186
18               Germany  4.79    51203.554473  7.076
19               Hungary  4.78    18728.121895  6.000
20        Czech Republic  4.75             NaN  6.911
21              Portugal  4.72    24567.509265  5.911
22              Bulgaria  4.70    12221.496606  5.102
23             Australia  4.69    60443.109165  7.223
24           Netherlands  4.52    57767.878811  7.449
25             Luxenburg  4.49             NaN    NaN
26               Ireland  4.36   100172.079253  7.094
27        United Kingdom  4.28    46510.282782  7.165
28   Trinidad and Tobago  4.25    16032.502768  6.192
29               Uraguay  4.16             NaN    NaN
30                 Spain  4.15    30103.513733  6.401
31                Russia  4.12             NaN  5.546
32               Belarus  4.12     7302.257794  5.540
33               Austria  4.11    53637.705711  7.294
34                Panama  4.06    14617.604482  6.305
35            Kazakhstan  4.06    10373.789792  6.058
36               Albania  4.06     6492.872012  4.883
37             Mauritius  3.94     9106.237202  6.101
38            Costa Rica  3.93    12472.443729  7.121
39               Belgium  3.91    51247.014353  6.864
40               Denmark  3.89    68007.756673  7.646
41               Romania  3.87    14858.229429  6.124
42                France  3.72    43658.978978  6.664
43              Malaysia  3.64    11109.261839  5.384
44             Argentina  3.33    10636.120196  5.975
45                Turkey  3.28             NaN  5.132
46                Greece  3.28    20192.596304  5.515
47                 Malta  3.17    33486.671984  6.773
48                 Chile  3.05    16265.095977  6.228
49                 Japan  3.03    39312.660373  5.871
50                  Iran  2.90             NaN  4.672
51             Singapore  2.87    72794.003023  6.377
52           South Korea  2.70             NaN  5.872
53                Israel  2.65    52170.711862  7.129
54  United Arab Emirates  2.23    44315.554183  6.791
55          Saudi Arabia  2.06    23185.870792  6.406
56                  Oman  2.05    19509.466463    NaN
57                Kuwait  1.91    24300.329436  6.102
58                 Qatar  1.23    66838.357433    NaN
59               Bahrain  0.54    26562.969135  6.227

In [ ]:
# Drop NaN values

datamerge2=datamerge2.dropna()
datamerge2

                 Country   UGS  GDP per Capita  Score
0                Finland  5.73    53654.750296  7.809
1                Iceland  5.47    68727.636665  7.504
2              Lithuania  5.46    23723.340251  6.215
3            New Zealand  5.33    48781.026633  7.300
4               Slovenia  5.32    29291.400623  6.363
5                Croatia  5.23    17685.325283  5.505
6             Montenegro  5.21     9465.703999  5.546
7                  Italy  5.17    35657.497563  6.387
9                Estonia  5.15    27943.701220  6.022
10         United States  5.13    70248.629000  6.940
11                Latvia  5.05    21148.162941  5.950
12                Sweden  5.00    61028.738060  7.353
13           Switzerland  4.98    91991.600458  7.560
15                Canada  4.96    51987.939053  7.232
16                Serbia  4.93     9230.178316  5.778
17                Poland  4.88    17999.909950  6.186
18               Germany  4.79    51203.554473  7.076
19               Hungary  4.78    18728.121895  6.000
21              Portugal  4.72    24567.509265  5.911
22              Bulgaria  4.70    12221.496606  5.102
23             Australia  4.69    60443.109165  7.223
24           Netherlands  4.52    57767.878811  7.449
26               Ireland  4.36   100172.079253  7.094
27        United Kingdom  4.28    46510.282782  7.165
28   Trinidad and Tobago  4.25    16032.502768  6.192
30                 Spain  4.15    30103.513733  6.401
32               Belarus  4.12     7302.257794  5.540
33               Austria  4.11    53637.705711  7.294
34                Panama  4.06    14617.604482  6.305
35            Kazakhstan  4.06    10373.789792  6.058
36               Albania  4.06     6492.872012  4.883
37             Mauritius  3.94     9106.237202  6.101
38            Costa Rica  3.93    12472.443729  7.121
39               Belgium  3.91    51247.014353  6.864
40               Denmark  3.89    68007.756673  7.646
41               Romania  3.87    14858.229429  6.124
42                France  3.72    43658.978978  6.664
43              Malaysia  3.64    11109.261839  5.384
44             Argentina  3.33    10636.120196  5.975
46                Greece  3.28    20192.596304  5.515
47                 Malta  3.17    33486.671984  6.773
48                 Chile  3.05    16265.095977  6.228
49                 Japan  3.03    39312.660373  5.871
51             Singapore  2.87    72794.003023  6.377
53                Israel  2.65    52170.711862  7.129
54  United Arab Emirates  2.23    44315.554183  6.791
55          Saudi Arabia  2.06    23185.870792  6.406
57                Kuwait  1.91    24300.329436  6.102
59               Bahrain  0.54    26562.969135  6.227

In [ ]:
# Clean data

datamerge2['GDP Rank'] = datamerge2.groupby('Country')['GDP per Capita'].rank(ascending=False)

datamerge2=datamerge2.sort_values("GDP per Capita",ascending=False)

In [ ]:
# Save Data

datamerge2.to_csv("happinessdata.csv")